<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../public/css/login.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">   
</head>
<body>
    <h1>WELCOME BACK!</h1>
    <p>login to continue to your dashboard!</p>

        <form id="loginForm">
        <label class="outer" for="email">Email:</label><br>
        <input class="inner" type="email" id="email" name="email" placeholder="Enter email"><br><br>

        <label class="outer" for="password">Password:</label><br>
        <input class="inner" type="password" id="password" name="password"  placeholder="Enter Password"><br><br>

        <button id="REGISTER">LOG IN</button>
        <p id="message"></p>
        </form>
        <p id="message"></p>
        <div>
        <p id="end">New to TASKSPHERE? <a href="../views/register.html">Sign Up</a></p></div>
    <script src="../public/js/login.js"></script>
</body>
</html>